<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather_icon.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Bryce is a Web Developer with knowledge of HTML, CSS, JavaScript (Angular & Node (Express)), SQL, MongoDB, JSON, REST, Git & GitHub.</p>
        <img src="/images/IMG_0273.jpg" alt="Bryce">
    </div>
    {{>footer}}
</body>
</html>